<?xml version="1.0" ?>
<launch>
  <arg name="robot_ip" default="172.16.0.2" />
  <arg name="load_gripper" default="true" />

  <!-- Panda control nodes -->
  <include file="$(find franka_control)/launch/franka_control.launch">
    <arg name="robot_ip" value="$(arg robot_ip)" />
    <arg name="load_gripper" value="$(arg load_gripper)" />
  </include>

  <!-- Controllers -->
  <rosparam command="load" file="$(find panda_controllers)/config/controllers.yaml" />
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="--stopped position_joint_trajectory_controller cartesian_velocity_controller"/>

  <!-- Camera -->
  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="enable_pointcloud" value="true" />
    <arg name="publish_tf" value="false" />
  </include>

  <!-- Hand-eye calibration -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="to_camera" args="0.108, -0.019, 0.052 0.000, 0.000, 0.720, 0.694 panda_hand camera_depth_optical_frame" />

</launch>
